<div class="container-signers">
{{> img}}

<h1>The wise supporters of this life-changing petition in {{place}}</h1>

<div class="signers">
{{#citySupporters}}
<div><p>{{#if this.user_url}}<a href="{{user_url}}" target="_blank">{{/if}}{{user_firstname}} {{user_lastname}}{{#if this.user_url}}</a>{{/if}}{{#if this.user_age}}, {{user_age}}{{/if}}</p></div>
{{/citySupporters}}
</div>
</div>
{{> nav}}