<div class="container-signers">
{{> img}}

<h1>The wise supporters of this life-changing petition</h1>

<p>Of course, the list is going to grow!</p>

<div class="signers">
{{#supporters}}
<div><p>{{#if this.url}}<a href="{{url}}" target="_blank">{{/if}}{{first}} {{last}}{{#if this.url}}</a>{{/if}}{{#if this.age}}, {{age}}{{/if}}{{#if this.city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}}</p></div>
{{/supporters}}
</div>
</div>
{{> nav}}