<div class="container">
{{> img}}

<h1>The wise supporters of this live-changing petition</h1>

<p>Of course, the list is going to grow!</p>

</div>
<div class="signers">
{{#supporters}}
<div><p>{{#if this.url}}<a href="{{url}}" target="_blank">{{/if}}{{first}} {{last}}{{#if this.url}}</a>{{/if}}, {{age}}, <a href="/signers/{{city}}">{{city}}</a></p></div>
{{/supporters}}
</div>
{{> nav}}